Version 2.0 is unusably slow.

On a Windows 10 system with a Ryzen 9 3900x.
Compiled in debug mode takes 20 seconds to encode and 20 seconds to decode. In release mode it takes 3 seconds each. Both are unusable.

`Cargo.toml`
```toml
[package]
name = "argon-demo"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rust-argon2 = "2.0.0"
```

`src/main.rs`
```rust

use argon2;
use std::time::Instant;

const PASSWORD: &str = "Test123";
const SALT: &str = "sjkdlgnldksjg";

fn main() {
    let now = Instant::now();
    // encoding
    let hash = {
        let config = argon2::Config::default();
        argon2::hash_encoded(PASSWORD.as_bytes(), SALT.as_bytes(), &config).unwrap()
    };
    dbg!(now.elapsed());

    let now = Instant::now();
    // decoding
    {
        let _ = argon2::verify_encoded(&hash, PASSWORD.as_bytes()).unwrap();
    }
    dbg!(now.elapsed());
}
```

output (on debug mode compilation):
```
C:/Users/redacted/.cargo/bin/cargo.exe run --color=always --package argon-demo --bin argon-demo
    Finished dev [unoptimized + debuginfo] target(s) in 0.01s
     Running `target\debug\argon-demo.exe`
[src\main.rs:14] now.elapsed() = 19.6995189s
[src\main.rs:21] now.elapsed() = 19.0743432s

Process finished with exit code 0
```

Now here is the output from the exact same code but i downgraded the lib version to 1.0.1 in the cargo toml. still in debug mode

```
C:/Users/redacted/.cargo/bin/cargo.exe run --color=always --package argon-demo --bin argon-demo
    Finished dev [unoptimized + debuginfo] target(s) in 0.01s
     Running `target\debug\argon-demo.exe`
[src\main.rs:14] now.elapsed() = 118.874ms
[src\main.rs:21] now.elapsed() = 120.0331ms

Process finished with exit code 0
```
just a tad bit faster

Im getting similar unusable performance compiled for release for arm64 on a raspberry pi when it was working fine on version 1.0. So this isn't some kind of super rare edgecase scenario on my windows sytem. whats going on?

Same problem here, just tested on Windows 11 with intel i7 12650H. It took 13s on debug mode to encode.

Hi @Directory, @JoelGarcia99,

Version 2.0.0 switched to using RFC9106 recommended settings as the default ([Changelog for 2.0.0](https://github.com/sru-systems/rust-argon2/blob/master/CHANGELOG.md#200)). These new default settings use 2GiB of memory instead of 4MiB. The previous default settings are now available as `Config::original()`

As an alternative to the original settings you could also try RFC9106 recommended settings for memory-constrained environments using `Config::rfc9106_low_mem()`.

This decision seems absolutely ridiculous to make the RFC primary recommendation the default. There is no way this is the desired behavior in 99% of production scenarios. The 160x performance penalty wasn't even mentioned in the changelog which is the only place we would look when doing a MAJOR dependency upgrade. It's not even mentioned in the docs (which isn't even linked on the GitHub readme). Yes it may be the RFC primary recommendation but realistic and perfectly acceptable compromises should be made for realistic real world use cases.

This is actively causing problems in production. Not just because it's a denial of service exploit, but any hashes generated and stored in a database with the new RFC config are forever stuck that way and will take insane computational resources each time to decode, until the user who generated that hash decides to reset and generate a new one with the original config again.

Yes test cases would have maybe caught this but it is not the fault of library users to find all of this out themselves. Especially when it's not even mentioned in the changelog. The RustCrypto `argon2` crate itself [recommends a default config](https://docs.rs/argon2/latest/argon2/struct.Params.html#associatedconstant.DEFAULT) that (among other differences) uses 19mb of memory.

I'm now using the original config and not the low memory config, as even the low memory RFC variant is too resource hungry for my preference. I would like to see the default be changed to something else but I am not sure to what. Probably something between the original and `rfc9106_low_mem`. Maybe other users can weigh in on their opinion.

Disclaimer: I'm not a cryptologist and most of what I will say will be taken from what I read on StackOverflow.

Authentication generally involves the client sending its password in clear text to the server over an encrypted connection. However, people will reuse their passwords, so out of respect for them, you may want to prehash their password before sending it:

```
/----------- Client ------------\         /------------------ Server -----------------\
| "p4ssword" -hash-> "c15fad0" ~|~~https~~|~> "c15fad0" -hash-> "x5dafc7" -> check it |
\-------------------------------/         \-------------------------------------------/
```
([relevant xkcd](https://xkcd.com/792/))

As the client need to hash its password only once at logon, we can use an intentionally slow hashing algorithm; that's Argon2. The server should use a faster cryptographic hashing like SHA-512.

One GiB of memory is kinda overkill tho, but `rfc9106_low_mem` takes 3.0s to hash (while `rfc9106` takes 35s); you may want to save the user's hashed password on disk to save them time.

I opened #50 because `Config::default` was using Argon2i which is made against side-channel attacks (i.e. measuring the system's elapsed time and power consumption to retrieve the plain password currently being hashed). When you use the default config you kinda want a good efficiency between time and security, and I guess most people want to be secured against GPU-bruteforcing (Argon2d) or both (Argon2id), but not only Argon2i.

Note that [RFC 9106 §4](https://datatracker.ietf.org/doc/html/rfc9106#name-parameter-choice) also has a recipe to determine Argon's parameters.

@Directory, @JoelGarcia99, @ShE3py

In e6cb5bf99643e565f4f0d103960d655dac9f3097 I added the recommended [OWASP configurations](https://cheatsheetseries.owasp.org/cheatsheets/Password_Storage_Cheat_Sheet.html#argon2id). I'm thinking about changing the default to `Config::owasp2`, which has `t=2` and 19 MiB memory. Any thoughts?